div.main, div.variables_screen {
    margin: 2%;
}

a.dead_choice {
    color: darkred;
}

img {
    margin: 1em;
}

span.code {
    font-family: monospace;
    white-space: pre-wrap;
    tab-size: 4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
}

span.error {
    font-family: monospace;
    white-space: pre-wrap;
    tab-size: 1;
    -moz-tab-size: 1;
    -o-tab-size: 1;
    color: darkred;
}

table.variables_screen {
    border-collapse: collapse;
    border-style: hidden;
}
  
.variables_screen th, .variables_screen td {
    border: 1px solid LightSteelBlue;
    border-collapse: collapse;
    padding: 3pt;
    padding-left: 6pt;
}
  
.variables_screen th {
    font-weight: normal;
    font-size: small;
}