div.main {
    margin: 2%;
}

a.dead_choice {
    color: darkred;
}

img {
    margin: 1em;
}

span.code {
    font-family: monospace;
    white-space: pre-wrap;
    tab-size: 4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
}

span.error {
    font-family: monospace;
    white-space: pre-wrap;
    tab-size: 1;
    -moz-tab-size: 1;
    -o-tab-size: 1;
    color: darkred;
}
